body {
    /*padding-top: 0px;*/
    /*padding-right: 20px;*/
    /*padding-left: 20px;*/
}

.centered {
    text-align: center;
}

#todaysmathRow {
    display: none;
}

#todaysmath {
    color: black;
    font-weight: bold;
    font-size: 50px;
}

#date {
    display: none;
    color: black;
    font-weight: bold;
}

.translation {
    color: #333333;
}

.block {
    margin-top: 500px;
}

#hour {
    color:darkgreen;
}

#minute {
    color:orange;
}

#second {
    color:darkred;
}

#millisecond {
    color:#333333;
}

footer {
}

/*.fixed-footnote {*/
/*    position: fixed;*/
/*    bottom: 0;*/
/*    font-size: 12px;*/
/*    width: 100%;*/
/*    text-align: center;*/
/*}*/


@media (max-width: 500px) {

    #main_container h4 {
        font-size: 25px;
    }
    
    #todaysmath {
        font-size: 35px;
    }
}
