
.centered {
    text-align: center;
}

#todaysmathRow {
    display: none;
}

#todaysmath {
    color: black;
    font-weight: bold;
    font-size: 50px;
}

#dateRow {
    margin-bottom: 44px;
}

.doTheKnowledge {
    margin-top: 99px;
}

.doTheKnowledge a {
    display: block;
}

#date {
    display: none;
    color: black;
    font-weight: bold;
}

.translation {
    color: #333333;
}

.block {
    margin-top: 500px;
}

#hour {
    color:darkgreen;
}

#minute {
    color:orange;
}

#second {
    color:darkred;
}

#millisecond {
    color:#333333;
}

footer {
}

.fixed-footnote {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    padding: 0 20px 0 20px;
    font-size: 10px;
    color: #777;
}


@media (max-width: 500px) {

    #main_container h4 {
        font-size: 25px;
    }
    
    #todaysmath {
        font-size: 35px;
    }
}
